
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jasmine's Blog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Start Writing</h1>
    <form action="/submit" name="form" method="POST">
        <input type="text" id="headline" name="headline" placeholder="Headline">
        <input type="text" id="blogpost" name="blogPost" placeholder="Start writing">
        <input type="submit" id="btn" value="PUBLISH NOW">
    </form>
</body>
</html>